/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

/* Facet styles
-------------------------------------------------- */
#facets-list .affix {
    position: fixed;
    right: 0;
    top: 30px;
  }

/* Results table styles
-------------------------------------------------- */
.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
}

.no-results {
	color: #ccc;
}

.result-heading.alt {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 30px;
}

.result-heading.alt a {
    float: left;
    margin-right: 15px;
    margin-left: -10px;
    display: inline-block;
}